/* Header */

#alert-banner {
  font-size: 12px;
  background-color: rgb(235 235 235);
  height: 30px;
  text-transform: uppercase;
}

#alert-banner p {
  display: contents;
}

#searchbar-nav {
  height: 80px;
  border-bottom: 1px solid rgb(153, 153, 153);
}

#menu-nav {
  height: 50px;
}

#menu-nav div {
  font-size: 14px;
  justify-content: center;
  text-transform: uppercase;
  color: black;
}

#searchbar-nav div div, form {
  min-width: 30%;
}

#searchbar-nav .navbar-brand {
  margin: 0 auto;
}

#searchbar-nav .navbar-nav{
  justify-content: end;
}