/* Header */

#alert-banner {
  font-size: 12px;
  background-color: rgb(235 235 235);
  height: 30px;
  text-transform: uppercase;
}

#alert-banner p {
  display: contents;
}

#searchbar-nav {
  height: 80px;
  border-bottom: 1px solid rgb(153, 153, 153);
}

#menu-nav {
  height: 50px;
}

#menu-nav div {
  font-size: 14px;
  justify-content: center;
  text-transform: uppercase;
  color: black;
}

#searchbar-nav div div, form {
  min-width: 30%;
}

#searchbar-nav .navbar-brand {
  margin: 0 auto;
}

#searchbar-nav .navbar-nav{
  justify-content: end;
}

/* Carousel  */

#carousel-home {
  width: 100%;
}

#carousel-home .carousel-inner {
  height: 60vh;
}

#carousel-home .carousel-item {
  height: 60vh;
}

#carousel-home .carousel-caption {
  bottom: 30%;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
}

#carousel-home p {
  font-weight: 400;
  font-size: 14px;
}

#carousel-home .btn-dark {
  font-size: 14px;
  padding: 20px 45px 20px 45px;
  background-color: white;
  border-radius: 0%;
  border: none;
  color: black;
  text-transform: uppercase;
}